* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    
}
body{
    scroll-behavior: smooth;
    text-align: center;
    background-color: #ffffff;
}
.cabeçario{
    display:flex;
    align-items: center;
    text-align: center;
    background-color: #866a56;
    color: white;
    height: 10dvh;
}
.cabeçario h3{
    font-family: "Reddit Sans Condensed", sans-serif;
    font-size: 16pt;
    border-left: 2px solid white;
    padding-left: 5px;
    margin-right: 20dvh;
    cursor: pointer;
}
.cabeçario img{
    margin-right: 1dvh;
    cursor: pointer;
}
.sobre{
    display: flex;
    align-items: end;
    text-align: end;
}
.sobre li{
    font-weight: 5px;
    list-style: none;
    text-decoration: none;
    letter-spacing: 3px;
    margin-left: 10dvh;
    margin-top: 4dvh;
    font-size: 12pt;
    cursor: pointer;
    color: white;
}
.sobre a{
    font-weight: 5px;
    text-decoration: none;
    color: white;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease-in;
}
.sobre a:hover{
    color: #F0DAAE;
    border-bottom: 1px solid #F0DAAE;
    border-radius: 2px;
}
.banner{
    border-bottom: 2px #dfd0c3e6 solid;
}

.banner button{
    background-color: #b39480;
    padding: 8px;
    font-size: 14pt;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: transparent;
    color: white;
    transition: all 0.3s ease-out;
    cursor: pointer;
}
.banner button:hover{
    background-color: #8d7261;
}
.banner img{
    width: 100%;
    
}
.banner h1{
    color: #6d5549;
    margin-top: 10px;
    margin-left: 15px;
}
.bg-menu {
    width: 100%;
    height: auto;
    padding: 50px 0;
    color: #6d5549;
    border-bottom: 2px #dfd0c3e6 solid;

  }
  .menu-flex {
    width: 88%;
    margin: 4.5rem auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
  }
  .bg-menu a{
    font-size: 14pt;
  }
  .bg-menu h2{
    color: #6d5549;
    margin-top: 10px;
    margin-left: 15px;
    font-size: 23pt;
  }
  .bg-menu h2 span{
     color: #b18f7f;
     font-size: 20pt;
  }
  .menu-flex .menu1 {
    width: 49%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    margin-bottom: 20px;
  }
  .menu1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .menu1 .small-img {
    overflow: hidden;
    border-radius: 50%;
    max-height: 70px;
    max-width: 70px;
  }
  .menu1:hover img {
    scale: 1.1;
  }
  .menu1 h4 {
    text-transform: capitalize;
    letter-spacing: -1;
    white-space: nowrap;
    font-size: 1.4rem;
  }
  .menu1 .line {
    margin-top: 10px;
    border-top: 1px dotted #b39480;
    width: 50%;
  }
  .menu-link {
    text-align: center;
    margin: 30px auto;
  }
  .menu-link a {
    display: inline-block;
    text-transform: capitalize;
    border-radius: 10px;
    color: #ffffff;
    background-color: #b39480;
    padding: 10px 15px;
    transition: 0.4s ease-in-out;
    border: 2px solid #6d5549;
    text-decoration: none;
  }
  .menu-link a:hover {
    background: transparent;
    color: #6d5549;
  }
  .contact{
    overflow: hidden;
    padding-top: 10px;
    background-color: #866a56;
    border-bottom: 2px #dfd0c3e6 solid;
    
}
.contact .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  padding: 2rem;
  margin-bottom: 3rem;
  overflow: hidden;
  }
.contact .row .map {
  flex: 1;
  width: 100%;
  min-height: 500px;
  object-fit: cover;
}
.contact .row form {
  flex: 1;
  text-align: center;
}
.contact .row form h3 {
  text-transform: uppercase;
  font-size: 2.8rem;
  color: white;
}
.contact .row form h2{
  color: white;
  padding-top: 20px;
}
.contact a{
  color: white;
  background-color: #b39480;
  padding: 10px;
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.3s ease-out;
}
.contact a:hover{
  background-color: #a4846e;
}
.Contato{
  margin-bottom: 50px;
}
.footer-title{
  color: #321f16;
  margin-top: 1rem;
  font-size: 30px;
  
}
.footer {
  background-color: #321f16;
  background-image: url('../img/99.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 55px;
  margin-top: 1rem;
}
.footer2 {
  display: flex;
  align-items: center;
  gap: 35px;
  justify-content: space-between;
  background-color: #321f16;
  padding: 50px;
  opacity: 0.85;
}
.footer2 .footer2-logo {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.footer2 .footer2-logo p {
  color: white;
  font-size: 1.1rem;
  line-height: 2;
}
.footer2 .footer2-social ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  list-style: none;
}
.footer2 .footer2-social ul li a i {
  
  font-size: 4rem;
  color: white;
  padding: 1rem;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .cabeçario {
      flex-direction: column;
      height: auto;
      padding: 1px;
      align-items: center;
  }
  .cabeçario img{
    height:60px; 
    width:60px;
  }
  .letra {
    display: none;
  }
  .cabeçario h3 {
      font-size: 14pt;
      margin-right: 0;
      padding-left: 0;
      border-left: none;
  }
  .sobre{
    margin-left: -10%;
  }
  .sobre li {
      margin-left: 5dvh;
      margin-top: 2dvh;
      font-size: 12pt;
  }
  .banner h1 {
      font-size: 18pt;
      margin-left: 10px;
  }
  .menu-flex {
      flex-direction: column;
      width: 100%;
      text-align: start;
      }
  .menu1 {
      width: 100%;
      margin-bottom: 15px;
      
  }
  .menu1 .line{
    padding-right: 10px;
  }
  .small-img{
    display: none;
  }
  .contact .row {
      gap: 1rem;
      flex-direction: column;
      text-align: center;
  }
  .footer2 {
      flex-direction: column;
      text-align: center;
      gap: 20px;
  }
}

@media (max-width: 480px) {
  .letra {
    display: none;
  }
  .cabeçario{
    flex-direction: none;
    padding: 0;
  }
  .cabeçario h3 {
      font-size: 12pt;
  }
  .cabeçario img{
    height:40px; 
    width:40px;
  }
 .sobre{
  margin-left: -50px;
 }
  .sobre li {
      font-size: 9pt;
      display: flex;
      padding-left: 20px;
}
.banner h1{
  font-size: 14pt;
}
  .banner button {
      font-size: 10pt;
      padding: 6px;
  }
  .bg-menu h2{
    font-size: 14pt;
  }
  .bg-menu .heading span{
    font-size: 13pt;

  }
  .menu1 h4{
      font-size: 13pt;
      
  }
  .menu-link a{
    font-size: 10pt;
  }
  .small-img{
    display: none;
  }
  .contact .row form h3{
    font-size: 19pt;
  }
  .contact .row form .Contato{
    font-size: 10pt;
  }
  .footer-title {
      font-size: 24px;
  }
  .footer2 .footer2-logo p {
      font-size: 1rem;
  }
  .footer2 .footer2-social ul li a i {
      font-size: 2.5rem;
  }
}