* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
   
}
body{
    background-color: #f2f2f2;
    align-items: center;
    text-align: center;
}
/* cabeçario da pagina  */
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    color: white;
    height: 10vh;
    
}
.logo{
    background-color: rgb(83, 127, 194);
    padding: 1%;
    padding-bottom: 1px;
    margin-left: -25%;
    
}
.titulo{
    display: flex;
    font-family: inherit;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
    letter-spacing: 2px;
    
    margin-top: 20px;
    font-size: 11pt;
    border-bottom: 2px transparent;
    border-radius: 2px;
    color: rgb(72, 72, 72);
}
.titulo h3{
    margin-left: -80%;
}
.titulo a{
    margin-left: 80%;
    }
    .form {
        margin-top: 5%;
        margin-left: 36%;
        display: flex;
        flex-direction: column;
        border-radius: 0.75rem;
        background-color: #fff;
        color: rgb(97 97 97);
        box-shadow: 20px 20px 30px rgba(0, 0, 0, .05);
        width: 22rem;
        background-clip: border-box;
      }

      .titulo a ion-icon{
        font-size: 14pt;
        margin-bottom: -5px;
      }
      
      .header {
        
        background-clip: border-box;
        background-color: rgb(83, 127, 194);
        background-image: linear-gradient(to top right,rgb(83, 127, 194),rgb(83, 127, 194));
        margin: 10px;
        border-radius: 0.75rem;
        overflow: hidden;
        color: #fff;
        box-shadow: 0 0 #0000,0 0 #0000,0 0 #0000,0 0 #0000,rgba(33,150,243,.4);
        height: 7rem;
        letter-spacing: 0;
        line-height: 1.375;
        font-weight: 600;
        font-size: 1.9rem;
        font-family: Roboto, sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .inputs {
        padding: 1.7rem;
        gap: 0.9rem;
        display: flex;
        flex-direction: column;
      }
      
      .input-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        min-width: 200px;
        width: 100%;
        height: 2.75rem;
        position: relative;
      }
      
      .input {
        border: 1px solid rgba(128, 128, 128, 0.61);
        outline: 0;
        color: rgb(69 90 100);
        font-weight: 400;
        font-size: .9rem;
        line-height: 1.25rem;
        padding: 0.70rem;
        background-color: transparent;
        border-radius: .375rem;
        width: 100%;
        height: 100%;
      }
      
      .input:focus {
        border: 1px solid rgb(83, 127, 194);
      }
      
      .checkbox-container {
        margin-left: -0.625rem;
        display: inline-flex;
        align-items: center;
      }
      
      .checkbox {
        position: relative;
        overflow: hidden;
        padding: .50rem;
        border-radius: 999px;
        display: flex;
        align-items: center;
        cursor: pointer;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.027);
        height: 30px;
        width: 30px;
      }
      
      .checkbox input {
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
      
      .checkbox-text {
        cursor: pointer;
      }
      
      .sigin-btn {
        text-transform: uppercase;
        font-weight: 700;
        font-size: .75rem;
        line-height: 1rem;
        text-align: center;
        padding: .75rem 1.5rem;
        background-color: rgb(83, 127, 194);
        border-radius: .5rem;
        width: 100%;
        outline: 0;
        border: 0;
        color: #fff;
      }
      
      .signup-link {
        line-height: 1.5;
        font-weight: 300;
        font-size: 0.875rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .signup-link a, .forget {
        line-height: 1.5;
        font-weight: 700;
        font-size: .875rem;
        margin-left: .25rem;
        color: #1e88e5;
      }
      
      .forget {
        text-align: right;
        font-weight: 600;
      }